.ContentModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  color: whitesmoke;
}

.ContentModal__landscape {
  object-fit: contain;
  border-radius: 10px;
  width: 30%;
  height: auto; /* Ensure it scales properly */
}

.ContentModal__portrait {
  display: none;
  object-fit: contain;
  border-radius: 10px;
  width: 30%;
  height: auto; /* Ensure it scales properly */
}

.ContentModal__title {
  font-size: 2rem; /* Adjusted for better readability */
  margin-bottom: 10px; /* Added margin for spacing */
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContentModal__description {
  flex-grow: 1; /* Allow description to take up remaining space */
  overflow-y: auto; /* Allow scrolling if content is too long */
  padding: 15px;
  border-radius: 20px;
  scrollbar-width: thin; /* Firefox */
  box-shadow: inset 0 0 5px #000000;
  text-align: justify;
}

@media (min-width: 835px) {
  .ContentModal__landscape {
    display: none;
  }
  .ContentModal__portrait {
    display: flex;
    width: 38%;
  }
  .ContentModal {
    flex-direction: row;
    justify-content: space-between; /* Adjusted to space items evenly */
    padding: 10px;
  }
  .ContentModal__about {
    width: 58%;
    padding: 20px; /* Added padding */
    height: auto; /* Adjust height */
  }
  .ContentModal__title {
    font-size: 2.5rem; /* Adjusted font size */
  }
  .ContentModal__description {
    font-size: 1rem; /* Adjusted font size for readability */
  }
}
